* {
    box-sizing: border-box;
}

@font-face { /*Font not responding*/
    font-family: 'narutoFont';
    src: url("/fonts/njnaruto.ttf");
}

.container, .paragraphs {
    border: red dashed 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu {
    border: yellow 3px dashed;
    display: flex;
    flex-direction: row;
    list-style: none;
    font-family: narutoFont;
}

.item1, .item2, .item3, .item4, .item5, .item6 {
    margin-left: 5px;
}

.titles, .name {
    font-family: 'narutoFont';
}

.main-title {
    border: black dashed 1px;
    text-align: center;
    font-family: 'narutoFont';
}

.paragraphs {
    text-align: justify;
    border: blue 5px dashed;
    max-width: 75ch;
}

.vTitle {
    text-align: center;
    border: dashed black 1px;
}

/* .grid-container {
    display: grid;
    grid-column: auto;
    justify-content: center;
    gap: 0px;
} */