* {
    box-sizing: border-box;
}

@font-face { /*Font not responding*/
    font-family: narutoFont;
    src: url(fonts/njnaruto.ttf);
}

.container {
    border: red dashed 1px;
}

.title1 {
    border: black dashed 1px;
    text-align: center;
    font-family: narutoFont;
}

.paragraphs {
    text-align: justify;
    margin: auto 10px;
}