* {
    box-sizing: border-box;
}

@font-face { /*Font not responding*/
    font-family: 'narutoFont';
    src: url(fonts/njnaruto.ttf);
}

.container {
    border: red dashed 1px;
}

.titles, .name {
    font-family: 'narutoFont';
}

.main-title {
    border: black dashed 1px;
    text-align: center;
    font-family: 'narutoFont';
}

.paragraphs {
    text-align: justify;
    border: blue 1px dashed;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.pVideo {
    align-self: center;
    height: 240px;
    width: 240px;
    border-radius: 100px;
}

.vTitle {
    align-self: center;
}

.grid-container {
    display: grid;
    grid-column: auto;
    justify-content: center;
    gap: 0px;
}